@use "./colors" as *;

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $white-text;

	&--top {
		padding-top: 2em;
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;

		&--address {
			text-align: center;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
	}

	&__address {
		padding: 0.2em;
		font-size: 2.2rem;
	}

	&__icon {
		padding: 0.5em 1em;
		transition: transform 0.5s, color 0.5s;

		&--link {
			cursor: pointer;
			font-size: 6rem;

			&:hover {
				transform: translateY(-10px);
				color: $blue-light;
			}
		}

		&--address {
			padding: 0.5em;
			margin: 0.5em 0;
			font-size: 6rem;
			border: 1px solid black;
			border-radius: 25%;
			box-shadow: rgba(16, 77, 99, 0.25) 0px 30px 60px -12px inset, rgba(50, 147, 207, 0.3) 0px 18px 36px -18px inset;
		}
	}

	&__link {
		color: $white-text;
	}
}

.map {
	&__googlemap {
		width: 100%;
	}
}
