.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.header-active {
	position: fixed;
	background-color: rgb(30, 30, 30);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	animation: nav-stick 0.5s forwards;
}

.header-unactive {
	position: fixed;
	background-color: rgb(30, 30, 30);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	animation: nav-unstick 0.5s forwards;
}

