@use "./colors" as *;

.main {
	&__section {
		padding: 6em 0;
		background-color: $bg-one;

		&--bgtwo {
			background-color: $bg-three;
		}
	}
}

.section__title {
	position: relative;
	font-size: 5rem;
	padding-bottom: 0.1em;
	margin-bottom: 1.2em;
	letter-spacing: 2px;
	text-align: center;

	&::after {
		position: absolute;
		bottom: 0;
		left: 50%;
		content: "";
		width: 30%;
		height: 6px;
		transform: translate(-50%);
		background-color: $blue-light;
	}
}

.reviews {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $white-text;

	&__dots {
		display: flex;
	}

	&__dot {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0.5em;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: grey;
		cursor: pointer;
		transition: background-color 0.25s;

		&:hover {
			background-color: rgb(74, 74, 74);
		}
	}

	&__container {
		width: 100%;
	}

	&__items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin: 0 2em 3em 2em;
		width: 70%;
		min-height: 150px;
		// box-shadow: $blue-light 0px 0px 15px;
		border: 2px solid $blue-light;
		border-radius: 10px;
		text-align: center;
	}

	&__text {
		font-size: 2.2rem;
	}

	&__person {
		padding: 0.5em 0;
		font-size: 2rem;
	}

	&__date {
		font-size: 1.6rem;
	}

	&__link {
		position: relative;
		margin-top: 2em;
		padding-bottom: 0.2em;
		font-size: 2.2rem;
		text-decoration: none;
		color: $white-text;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 2px;
			transform: scaleX(0);
			transform-origin: right;
			background-color: $blue-light;
			transition: transform 0.5s;
		}

		&:hover::before {
			transform: scale(1);
			transform-origin: left;
		}
	}
}
.aboutus {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5em;
	color: $white-text;

	&__left,
	&__right {
		width: 100%;
		padding: 2em 1em;
	}

	&__right {
		display: flex;
		justify-content: center;
	}

	&__title {
		font-size: 6rem;
		font-family: "Kenia", cursive;
		letter-spacing: 2px;
		color: $blue-light;
	}

	&__text {
		font-size: 2rem;
		letter-spacing: 3px;
		line-height: 35px;
	}

	&__img {
		max-width: 500px;
		min-width: 100px;
		height: auto;
		border: 4px solid white;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

		&--behind {
			position: relative;
			margin-top: -50px;
			margin-left: -150px;
			top: 150px;
		}
	}
}

.order {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $white-text;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 100%;
		padding-bottom: 4em;
	}

	&__section {
		position: relative;
		width: 100%;
		padding: 1em 0;
		font-size: 2.5rem;
		text-align: center;
	}

	&__number {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30px;
		width: 30px;
		padding: 0.8em;
		margin-bottom: 0.5em;
		font-size: 2.4rem;
		border-radius: 50%;
		background-color: $blue-light;
	}

	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__svg {
		width: 120px;
		height: 120px;
		padding: 0.7em;
		margin-bottom: 0.3em;
		border: 1px solid $blue-light;
		border-radius: 50%;
	}

	&__arrow {
		display: none;
		position: absolute;
		right: -50px;
		bottom: 50%;
		width: 100px;
		height: 100px;
	}
}

.galerymain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $white-text;

	&__link {
		position: relative;
		margin-top: 2em;
		padding-bottom: 0.2em;
		font-size: 2.2rem;
		text-decoration: none;
		color: $white-text;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 2px;
			transform: scaleX(0);
			transform-origin: right;
			background-color: $blue-light;
			transition: transform 0.5s;
		}

		&:hover::before {
			transform: scale(1);
			transform-origin: left;
		}
	}

	&__containter {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}

	&__imgcontainer {
		width: 100%;
		height: 250px;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
