@media (min-width: 576px) {
	.header__title {
		font-size: 5rem;
	}

	.galerymain {
		&__imgcontainer {
			width: 50%;
		}
	}

	.footer {
		&__top {
			display: flex;
		}

		&__left, &__right {
			padding: 0em 3em;
		}
	}
}

@media (min-width: 768px) {
	.order {
		&__container {
			flex-direction: row;
		}

		&__section {
			width: 30%;
			padding: 0;
		}

		&__arrow {
			display: block;
		}
	}

	.reviews {
		&__items {
			flex-direction: row;
		}

		&__item {
			width: 40%;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&__list,
		&__btn {
			display: flex;
		}

		&__hamburger {
			display: none;
		}

		&__container {
			justify-content: space-around;
		}
	}

	.header__title {
		font-size: 6rem;
	}

	.main__wave {
		display: block;
	}

	.aboutus {
		flex-direction: row;

		&__left,
		&__right {
			width: 50%;
		}
	}

	.order {
		&__arrow {
			bottom: 35%;
		}
	}

	.galerymain {
		&__imgcontainer {
			width: 300px;
		}
	}
}

@media (min-width: 1200px) {
	.nav__item {
		font-size: 2rem;
	}

	.galery__imgcontainer {
		width: 50%;
	}

	.img__pic {
		width: 50%;
	}
}
